{%  extends 'managemet/adminmain2.html' %}


{% block content %}






{% endblock %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>DashBoard</title>-->
<!--</head>-->
<!--<body>-->
<!--    <a href="{% url 'logoutpage' %}">Logout</a>-->
<!--    <br/>-->
<!--    <a href="{% url 'viewcustomer' %}">View Customers</a>-->
<!--     <br/>-->
<!--    <a href="{% url 'viewcompany' %}">View Company</a>-->
<!--     <br/>-->
<!--    <a href="{% url 'viewmedicines' %}">View Medicines</a>-->
<!--     <br/>-->

<!--</body>-->
<!--</html>-->